* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: 10px auto;
    border: 2px solid lightgreen;
    border-radius: 6px;
}

.box {
    border: 2px dashed red;
    border-radius: 4px;
    padding: 14px;
    margin: 8px;
    flex: 1;
    text-align: center;
}

.big {
    flex: 3;
}