body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.1) ;
    width: 400px;
    text-align: center;
}

h5 {
    margin-bottom: 20px;
    color: #666;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 240px;
}

button:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

/* img {
    margin-top: 20px;
    max-width: 100%;
    border-radius: none;
    display: none;
} */

.actions {
    margin-top: 20px;
}

.removeBtn {
    background-color: #dc3545;
}

.removeBtn:hover {
    background-color: #a71d2a;
}

/* Gallery button */
.galeryBtn {
    background-color: #198754;
    display: none;
}

.galeryBtn:hover {
    background-color: #0f5132;
}

.photos-link {
    display: none;
}

/* Photos html */
.main-container {
    background-color: white;
    padding: 24px;
    max-width: 1100px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.img-container {
    width: 300px;
    height: auto;
}

.photo {
    width: 300px;
    height: auto;
}